# ===== UNITY =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties

# Archivos de Visual Studio / editores
.vs/
.vscode/

# Modelo descargado automaticamente por face_server.py
face_landmarker.task

# Unity Version Control (Plastic SCM)
.plastic/
